p{
    background-color: black;
    color: rgb(226, 214, 195);
    width: 10%;
}
h1{
    background-color: rgb(117, 12, 223);
    color: white;
    width: 30%;
}
h3{

    text-align: center;
    background-color: rgb(5, 231, 107);
    color: rgb(250, 12, 12);
}